/*==================================

        Universal styling

==================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  margin: 15px 0; /*top right bottom left*/
  font-size: large;
}

hr {
  border-top: 2px solid black;
  margin: 15px;
}

h1.animate__animated.animate__bounce {
  color: #fccd93;
  font-size: 36px;
}


/*======================================

                Header

======================================*/

header {
  background: lightgray;
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px 0;
  opacity: .75;
  z-index: 4;
}

header nav ul li {
  display: inline;
}

li a:hover {
  color: #76afb4;
}

header nav a {
  color: gray;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 20px;
}


/*======================================

            Hero Image Section

======================================*/

.hero{
  width: 100%;
  margin-top: 65px;
  margin-bottom: 2px;

}

/*======================================

            Container Section

======================================*/

.container {
  margin: 0 auto;
  max-width: 900px;
 
}

/*======================================

            About Section

======================================*/
.about-section {
  text-align: center;
  padding: 100px 3px;
  margin: 20px 0 20px;
}

.about-section p {
  padding: 4%;
  line-height: 1.6;
}



.menubutton {
  background-color: #e68666;
  color: #000;
  border: none;
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 25px;
}

.menubutton:hover {
  background-color: #ae5f41;
  color: #fff;
}

.menubutton,a:hover {
  background-color: #e68666;

}

/*======================================

            Menu Section

======================================*/
.menu-container {
  background-color: #f4e5e1;
}

.menu-section {
  left: 0;
  right: 0;
  padding: 100px 0;
}
.drink-menu {
  text-align: center;
}

.drinks {
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

.drinks img {
  height: 250px;
}

.drinks img:hover {
  transform: scale(1.2);
  transition: 1s ease;
}

/*======================================

            Testomonial break

======================================*/
.testimonial {
  background-color: #fccd93;
  text-align: center;
  font-size: 2rem;
  padding: 200px 0;
}

.testimonial p {
  text-align: center;
}
/*======================================

            Shop Section

======================================*/

.shop-container {
  background-color: #77afb4;
  text-align: center;
}

.item {
  display: inline-block;
  font-weight: bold;
  padding: 30px;
  margin: 20px 0;
}

.item img {
  height: 200px;
  padding: 10px;
}

/*======================================

            Contact Section

======================================*/
.column {
  column-count: 2;
}

.contact-container {
  background-color: #fffff8;
  padding: 50px;
  margin: 0 auto;
  max-width: 900px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #e87d59;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

input[type="submit"]:hover {
  background-color: #ae5f41;
}

.container {
  border-radius: 10px;
  padding: 5px;
}



.column {
  float: left;
  width: 95%;
  margin-top: 6px;
  padding: 25px;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


iframe {
  width: 650px;
  height: 400px;
  margin: auto;
}

/*======================================

            Footer Section

======================================*/
footer {
  width: 100%;
  text-align: center;
  background-color: #ae5f41;
  padding: 10px;
}

.footer p {
  display: block;
}

.socialmedia {
  display: block;
  padding: 5px;
}



.elfsight-app-1823a053-e50b-456d-b085-5d611b65c8e4{
  background-color: #f4e5e1;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*======================================

             Animation Section

======================================*/

/* animation */
.my-element {
  display: inline-block;
  animation-duration: 3s;
}

@keyframes bounce {
  from {
    top: 0rem;
  }
  to {
    top: 0.5rem;
  }
}

/*======================================
        
    START MIN-WIDTH 320 MEDIA QUERY

======================================*/

@media (min-width: 320px) {
  main {
    width: 100%;
    margin: auto;
    display: block;
  }


  header{
    display: inline-block;
    margin-left: 2px;
  }
 
  section.testimonial{
    margin: auto;
    padding: 10%;
  }
 

  
}

/*======================================
        
    END MIN-WIDTH 320 MEDIA QUERY

======================================*/


/*======================================
        
    START MIN-WIDTH 750 MEDIA QUERY

======================================*/
@media (min-width: 750px) {
 

  iframe {
    width: 550px;
    height: 400px;
    margin: auto;
  }
  
}



/*======================================
        
    END MIN-WIDTH 750 MEDIA QUERY

======================================*/


/*======================================
        
    START MIN-WIDTH 1080 MEDIA QUERY

======================================*/

@media (min-width: 1080px) {
  main {
    margin: auto;
  }

  .menu-container {
    width: 100%;
  }

  iframe {
    width: 650px;
    height: 400px;
    margin: auto;
  }

}

/*======================================
        
    END MIN-WIDTH 1080 MEDIA QUERY

======================================*/
