/*==================================

        Universal styling

==================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Sans JP", sans-serif;
  }
  
  p {
    font-family: "Montserrat", sans-serif;
    /*margin: 15px 0; top right bottom left*/
    font-size: large;
  }
  
  hr {
    border-top: 2px solid black;
    margin: 15px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}
  /*======================================
  
                  Header
  
  ======================================*/
  
  header {
    background: lightgray;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 0;
    opacity: 0.8;
  }
  
  header nav ul li {
    display: inline;
  }
  
  li a:hover {
    color: #76afb4;
  }
  
  header nav a {
    color: gray;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 20px;
  }
  
  .logo {
    width: 150px;
  }
  

  .desktop-menu{
      display: none;
  }
  /*======================================
  
              Hero Image Section
  
  ======================================*/
  
  .hero-image-section {
    width: 100%;
    max-width: 3760px;
  }
  
  /*======================================
  
              Container Section
  
  ======================================*/
  
  .container {
    width: 100%;
    display: flex;
    z-index: 2;
  }
  
  /*======================================
  
              About Section
  
  ======================================*/
  .about-section {
   
  }

  .about-section img{
      width: 26%;
      padding: 35px;

  }

.about-section p{
    display: flex;
    flex-wrap: wrap-reverse;
}
 
  .menubutton {
    background-color: #e87d59;
    border: none;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 25px;
  }
  
  .menubutton:hover {
    background-color: #ae5f41;
    color: white;
  }
  
  .about-section h1::after {
    content: url(../images/moon.png);
    padding: 20px;
    margin-top: 50px;
  }
  /*======================================
  
              Menu Section
  
  ======================================*/
  .menu-container {
    background-color: #f4e5e1;
  }
  
  .menu-section {
    left: 0;
    right: 0;
    padding: 100px 0;
    width: 100%;
  }
  .drink-menu {
    text-align: center;
  }
  
  .drinks {
    margin: 20px;
    display: inline-block;
    font-weight: bold;
  }
  
  .drinks img {
    height: 250px;
  }
  
  .drinks img:hover {
    transform: scale(1.2);
    transition: 1s ease;
  }
  
  /*======================================
  
              Testimonial break
  
  ======================================*/
  .testimonial {
    background-color: #fccd93;
    text-align: center;
    font-size: 2rem;
    padding: 200px 200px;
  }
  
 
  /*======================================
  
              Shop Section
  
  ======================================*/
  
  .shop-container {
    background-color: #77afb4;
    text-align: center;
  }
  
  .item {
    display: inline-block;
    font-weight: bold;
    padding: 30px;
    margin: 20px 0;
  }
  
  .item img {
    height: 200px;
    padding: 10px;
  }
  
  /*======================================
  
              Contact Section
  
  ======================================*/
  .column {
    column-count: 2;
  }

  iframe{
   width: 100%;
  }
  
  .contact-container {
    background-color: #fffff8;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #e87d59;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }
  
  input[type="submit"]:hover {
    background-color: #ae5f41;
  }
  
  .container {
    border-radius: 10px;
    padding: 5px;
  }
  
  .column {
    width: 95%;
    margin-top: 6px;
    padding: 25px;
    align-items: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*======================================
  
              Footer Section
  
  ======================================*/
  footer {
    width: 100%;
    text-align: center;
    background-color: #ae5f41;
    padding: 10px;
  }
  
  .footer p {
    display: block;
  }
  
  .socialmedia {
    display: block;
    padding: 5px;
  }
  
  /*======================================
  
               Animation Section
  
  ======================================*/
  
  /* animation */
  .my-element {
    display: inline-block;
    animation-duration: 3s;
  }
  
  @keyframes bounce {
    from {
      top: 0rem;
    }
    to {
      top: 0.5rem;
    }
  }


  
  /*======================================
          
      START MIN-WIDTH 320 MEDIA QUERY
  
  ======================================
  
  @media (min-width: 320px) {
    main {
      width: 100%;
      margin: auto;
      display: block;
    }
  
    .nav-menu {
      display: none;
    }
  
    .hero-image-section {
      max-width: 100%;
      /*margin: auto;
      padding: 68%;
    }
  }
  /*======================================
          
      END MIN-WIDTH 320 MEDIA QUERY
  
  ======================================
  
  /*======================================
          
      START MIN-WIDTH 1080 MEDIA QUERY
  
  ======================================
  
  @media (min-width: 1080px) {
    main {
      margin: auto;
    }
  
    .menu-container {
      width: 100%;
    }
  }
  
  /*======================================
          
      END MIN-WIDTH 1080 MEDIA QUERY
  
  ======================================*/
  